#container {
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    width: 650px;
    margin: 20px;
    border: 1px solid black;
}

.grid-item {
    width: 6.25%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    box-sizing: border-box;
    
}

