#container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    margin-top: 10px;
    border: 1px solid black;
}

.grid-item {
    width: 6.25%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    box-sizing: border-box;
    
}

button {
    padding: 10 20px;
    font-size: 16px;
}

